/* .test-wrap {
  display: flex;
  width: 100%;
}

.test1 {
  flex: 40%;
}

.test2 {
  flex: 60%;
} */

header {
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cacaca;
}

.header__fbicon {
  margin-left: 40px;
  flex: 30%;
}

.header__navicon {
  flex: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__asideicon {
  flex: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
}

.aside-icon {
  margin-left: 20px;
}

h1 {
  text-align: center;
}

section {
  background-color: #f0f2f5;
  height: 86vh;
}

.showArea {
  display: flex;
  width: 100%;
}

.showArea__nav {
  flex: 30%;
  margin-top: 20px;
  margin-left: 10px;
  border-right: 1px solid #cacaca;
}

.showArea__main {
  flex: 40%;
  overflow: auto;
  margin-top: 20px;
  margin-left: 10px;
  border-right: 1px solid #cacaca;
}

.showArea__aside {
  flex: 30%;
  margin-left: 10px;
  margin-top: 20px;
}

/* 書く記事よう */
.showArea__main--input {
  width: 200px;
}

.showArea__main--article {
  /* border: 2px solid #000000; */
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.showArea__main--frined {
  font-size: 25px;
}

.showArea__main--date {
  font-size: 8px;
}
.showArea__main--feeling {
  text-align: end;
  margin-right: 10px;
}

.showArea__main--image {
  text-align: center;
}
.showArea__main--totthums {
  border-bottom: 1px solid #cacaca;
}

.showArea__main--totText {
  font-size: 12px;
  margin-left: 5px;
}
