/* .test-wrap {
  display: flex;
  width: 100%;
}

.test1 {
  flex: 40%;
}

.test2 {
  flex: 60%;
} */

header {
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cacaca;
}

li {
  margin-bottom: 10px;
}

.header__fbicon {
  margin-left: 40px;
  flex: 30%;
}

.header__navicon {
  flex: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__asideicon {
  flex: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
}

.aside-icon {
  margin-left: 20px;
}

h1 {
  text-align: center;
}

section {
  background-color: #f0f2f5;
  height: 86vh;
}

.showArea {
  display: flex;
  width: 100%;
}

.showArea__nav {
  flex: 30%;
  margin-top: 20px;
  margin-left: 10px;
  border-right: 1px solid #cacaca;
  padding-left: 20px;
}

.showArea__nav--userInfo {
  display: flex;
  margin-bottom: 100px;
}

.showArea__nav--img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
}

.showArea__main {
  flex: 40%;
  overflow: auto;
  margin-top: 20px;
  margin-left: 10px;
  border-right: 1px solid #cacaca;
}

.showArea__main--header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.showArea__aside {
  flex: 30%;
  margin-left: 10px;
  margin-top: 20px;
}

.showArea__main--postArea {
  background-color: #d7d7d7;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.showArea__main--newPost {
  font-size: 20px;
  font-weight: bold;
}

/* 書く記事よう */
.showArea__main--form {
  display: flex;
}

.showArea__main--input {
  flex: 55%;
}

.showArea__main--input input {
  width: 95%;
}

.showArea__main--inputFeeling {
  flex: 30%;
}

.showArea__main--inputFeeling input {
  width: 95%;
}

.showArea__main--postButton {
  flex: 15%;
  text-align: center;
}

.showArea__main--postButton button {
  background-color: rgb(226, 226, 0);
  transition: all 0.3;
  border-radius: 5px;
}

.showArea__main--postButton button:hover {
  font-weight: bold;
  background-color: yellow;
  transform: translate(3px, 3px);
  border-radius: 5px;
}

/* .showArea__main--input {
  width: 200px;
} */

.showArea__main--article {
  /* border: 2px solid #000000; */
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.showArea__main--frined {
  font-size: 25px;
}

.showArea__main--date {
  font-size: 8px;
}
.showArea__main--feeling {
  text-align: right;
  margin-right: 10px;
}

.showArea__main--image {
  text-align: center;
}
.showArea__main--totthums {
  border-bottom: 1px solid #cacaca;
}

.showArea__main--totText {
  font-size: 12px;
  margin-left: 5px;
}

.showArea__aside--content {
  color: #707171;
  border-bottom: 1px solid #707171;
}

.showArea__aside--friend {
  margin-top: 10px;
}

#newsfeed {
  margin-top: 40px;
}
